<div class="main">
    {{!-- Bootstrap and FontAwesome --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{{!-- Link Above --}}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">eCourses <span class="sr-only">(current)</span></a>
      </li>
    <li>
    </li>
    </ul>
    <a style="" href="">Welcome {{user.name}}</a>
    <a href="/" style="margin-right: 20px; color:white" href="">Logout</a>
  </div>
</nav>
    {{user.courses}}
    {{name}}
    <a href="/courses" class="btn btn-primary">Courses</a>
</div>